/*** General ***/
*, html, body {
	margin: 0;
	padding: 0;
	font-family: IBM Plex Mono, Roboto, sans-serif;
}
ul, ol, dl {
	margin-block-start: 0;
	margin-block-end: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
}
/*** Header ***/
.header {
	background-image: url('../images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.header__title {
	margin: 0;
	font-size: 64px;
}
/*** Main ***/
/** Empires **/
.empires {
	padding: 15px;
}
.empire {
	border-radius: 15px;
	height: min-content;
}
.empire:not(.empire:last-child) {
	margin-bottom: 15px;
}
.empire__image {
	border-radius: 15px;
	margin-bottom: 15px;
}
.empire__name {
	font-size: 32px;
	margin-bottom: 0;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.empire__name:hover {
	cursor: pointer;
}
.empire__description {
	font-size: 16px;
}
.empire__statistics {
	margin-top: 15px;
}
.empire__statistics-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.empire__statistics-item:not(.empire__statistics-item:last-child) {
	margin-bottom: 15px;
}
.empire__statistics-title {
	margin-bottom: 5px;
}
.printed-text {
	opacity: 0;
}
.printed-text.active {
	opacity: 1;
	overflow: hidden;
	white-space: nowrap;
	border-right: .15em solid #000;
	margin: 0 auto;
	animation:
	typing 15s steps(150, end),
	blink-caret .7s step-end infinite;
}
@keyframes typing {
	from {
		max-width: 0
	}
	to {
		max-width: 1000px;
	}
}
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #000 }
}
.empire__accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: 1s ease-out;
	text-align: center;
}
.empire.active {
	padding: 15px;
}
.empire.active .empire__name {
	padding: 0;
	margin-bottom: 15px;
}
.empire.active .empire__accordion-content {
	max-height: 1000px;
}
/*** Footer ***/
.footer {
	padding: 100px;
	text-align: center;
}
.footer__page-author {
	font-size: 32px;
	margin-bottom: 15px;
}
.footer__title {
	font-size: 16px;
	margin-bottom: 15px;
}
.footer__info {
  font-size: 14px;
}
/*** Change site lang ***/
.page__lang-wrapper {
	position: absolute;
	left: 15px;
	top: 15px;
}
.page__lang {
	position: relative;
	display: inline-block;
	text-align: center;
}
.page__lang-btn {
	padding: 15px;
	border: none;
	font-size: 20px;
	font-weight: 700;
}
.page__lang-content {
	display: none;
	position: absolute;
	min-width: 100%;
	z-index: 1;
}
.page__lang a {
	text-decoration: none;
	display: block;
	padding: 15px;
}
.page__lang a:hover {
	text-decoration: underline;
}
.page__lang:hover .page__lang-content {
	display: block;
}
/*** Change site lang ***/
.page__lang-wrapper {
	position: absolute;
	left: 15px;
	top: 15px;
}
.page__lang {
	position: relative;
	display: inline-block;
	text-align: center;
}
.page__lang-btn {
	padding: 15px;
	border: none;
	font-size: 20px;
	font-weight: 700;
}
.page__lang-content {
	display: none;
	position: absolute;
	min-width: 100%;
	z-index: 1;
}
.page__lang a {
	text-decoration: none;
	color: #000;
	display: block;
	background-color: rgba(255, 255, 255, .5);
	padding: 15px;
}
.page__lang a:hover {
	text-decoration: underline;
}
.page__lang:hover .page__lang-content {
	display: block;
}
/*** Site theme change ***/
html.dark .footer__link:hover, html.light .footer__link:hover {
	text-decoration: underline;
}
html.dark .page__theme {
	background-image: url('../images/site-theme-change/moon.svg');
	padding: 20px;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 15px;
	top: 15px;
}
html.dark .main {
	color: #fff;
}
html.dark .empires {
	background-color: #000;
}
html.dark .empire {
	background-color: #000;
	border: 3px solid #fff;
}
html.dark .empire__name::after {
	content: '';
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top: 10px solid #fff;
}
html.dark .empire.active .empire__name::after {
	content: '';
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 10px;
	border-left-width: 10px;
	border-bottom: 10px solid #fff;
}
html.dark .footer {
	background-color: #000;
	color: #fff;
}
html.dark .footer__link {
	color: #6699FF;
	text-decoration: none;
}
html.dark .page__lang-btn {
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
}
html.dark .page__lang a {
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
}
html.light .page__theme {
	background-image: url('../images/site-theme-change/sun.svg');
	padding: 20px;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 15px;
	top: 15px;
}
html.light .main {
	color: #000;
}
html.light .empires {
	background-color: #fff;
}
html.light .empire {
	background-color: #fff;
	border: 3px solid #000;
}
html.light .empire__name::after {
	content: '';
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top: 10px solid #000;
}
html.light .empire.active .empire__name::after {
	content: '';
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-right-width: 10px;
	border-left-width: 10px;
	border-bottom: 10px solid #000;
}
html.light .footer {
	background-color: #fff;
	color: #000;
}
html.light .footer__link {
	color: #000066;
	text-decoration: none;
}
html.light .page__lang-btn {
	background-color: rgba(255, 255, 255, .7);
	color: #000;
}
html.light .page__lang {
	background-color: rgba(255, 255, 255, .6);
	color: #000;
}